* {
  box-sizing: border-box;
}
body {
  background: #191919;
  background: linear-gradient(to left, #fd746c , #ff9068);
}

.main {
  background: #191919;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
#clock-body {
  position: relative;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  border: 3px solid white;
}
#center, #seconds, #minutes, #hours {
  position: absolute;
  background-color: white;
  backface-visibility: hidden;
  outline: 1px solid transparent;
}
#center {
  z-index: 4;
  height: 3%;
  width: 3%;
  top: 50%;
  margin-top: -1.5%;
  left: 50%;
  margin-left: -1.5%;
  border-radius: 100%;
  background: none;
  background: none;
  border: 3px solid white;
}
#seconds {
  z-index: 1;
  left: 50%;
  margin-left: -0.3%;
  bottom: 50%;
  width: 0.6%;
  height: 49%;
  border-top-right-radius: 40%;
  border-top-left-radius: 40%;
  transform-origin: bottom;
}
#minutes {
  z-index: 2;
  left: 50%;
  margin-left: -0.7%;
  bottom: 50%;
  width: 1.4%;
  height: 47%;
  border-top-right-radius: 40%;
  border-top-left-radius: 40%;
  transform-origin: bottom;
}
#hours {
  z-index: 3;
  left: 50%;
  margin-left: -0.7%;
  bottom: 50%;
  width: 1.4%;
  height: 36%;
  border-top-right-radius: 50%;
  border-top-left-radius: 50%;
  transform-origin: bottom;
}
.post-wrap {
  width: 100vw;
  height: (1/1)*100vw; /* height:width ratio */
  max-height: 100vh;
  max-width: (1/1)*100vh; /* height:width ratio */
  margin: 0 auto;
  position: absolute;
  top:0;bottom:0; /* vertical center */
  left:0;right:0; /* horizontal center */
  overflow: hidden;
  padding: 15px;
}